{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock  %}
{% block title %}Home{% endblock  %}
{% block body %}
    <!-- ===========Banner Part Start ========== -->
<section id="banner3" class="background2">
  <div class="container">
    <div class="col-lg-12">
      <div class="banner3_text">
        <h1>Any Car is a Dream Car
            with the Right<span> DRIVER</span></h1>
      </div>
  </div>
  </div>
</section>
    <!-- =========== Banner Part End ========== -->

<!-- ============== Mission Part Start =================== -->
<section id="mission">
    <div class="container">
        <div class="col-lg-12">
          <div class="col-lg-12">
            <div class="row4">
              <div class="astory col-lg-6 col-sm-12">
                  <div><h3> Our Story</h3></div>
                <div><p> Not long ago, in Bangladesh in the early 2023s, As a college project we thought of this idea. 
                          An idea about making Car Rental Service to the next level In our country. Just an idea can be very powerful, as they can make history.
                          And GariLagbe? Rent-A-Car was born.</p>
                  </div>
              </div>
              <div class="amission col-lg-6 col-sm-12">
                      <div>
                          <h3> Our Mission</h3></div>
                          <div><p> Our mission was and still is that, How we can make Renting Car with just our Smartphone in a minute.
                              Our goal is to provide car renting service to everyone in Bangladesh in a very simple process.
                              Provide better service than other service providers and to provide affordable and accessible services.
                          </p>
                      </div>
                    </div>
                  </div>
        </div>
            
          <div class="col-lg-12">
            <div class="whowe">
              <h1>Few words about us</h1>
              <p>Rent a car in Bangladesh is very easy with GariLagbe? Rent A Car. Sheba rent a car provide car rental service which is not only affordable but very reasonably priced. Sheba rent a car is one of the best and most reliable car rental company in Dhaka, Bangladesh which offers varied choice of model of sedan cars, luxury cars, SUV’s, and mini vans, GariLagbe? Rent A Car is one of the finest people mobility companies in Bangladesh. GariLagbe? Rent A Car is now probably largest passenger transportation company in Bangladesh.</p>
          </div>
      </div>
    </div>
</section>
<!-- ============== Mission Part End =================== -->
<!-- ============== Team Part Start =================== -->
<section id="team">
    <div class="container">
        <div class="col-lg-12">
            <div>
                <h1>Meet The <span>Team</span></h1>
            </div>
            <div class="gallery">
              <div class="img-box"><h3>SAJIB</h3>
                <div class="detailz">
                  <h2>FAISAL IQBAL SAJIB</h2>
                  <h4>Front-End Developer</h4>
                </div>
              </div>
              <div class="img-box"><h3>KAMIAB</h3>
                <div class="detailz">
                  <h2>KAMIAB HOSSAIN KANAK</h2>
                  <h4>Graphics Designer</h4>
                </div>
              </div>
              <div class="img-box"><h3>NOSIN</h3>
                <div class="detailz">
                  <h2>MOBASHIRA NOSIN CHOWDHURY</h2>
                  <h4>UX/UI Designer</h4>
                </div>
              </div>
              <div class="img-box"><h3>REWON</h3>
                <div class="detailz">
                  <h2>MAHMUDUL REWON</h2>
                  <h4>Graphics Designer</h4>
                </div>
              </div>
              <div class="img-box"><h3>JAYITA</h3>
                <div class="detailz">
                  <h2>JAYITA DEBNATH</h2>
                  <h4>UX/UI Lead Designer</h4>
                </div>
              </div>
              <div class="img-box"><h3>NAFIZ</h3>
                <div class="detailz">
                  <h2>NAFIZ ISLAM</h2>
                  <h4>Front-End Developer</h4>
                </div>
              </div>
              <div class="img-box"><h3>ORPA</h3>
                <div class="detailz">
                  <h2>JARIN TASNIM ORPA</h2>
                  <h4>UX/UI Designer</h4>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>



</section>



<!-- ============== Team Part End =================== -->

    <!-- =========== Service Part Start ========== -->
    <section id="downloads">
      <div class="container">
        <div class="row">
          <div class="download_text col-lg-8">
            <h3>Can't find your desired service?</h3>
            <h4> Let us know, call</h4>
            <a href="tel:+880-696969"><i class="fa fa-phone"></i>696969</a></div>

        <div class="service col-lg-4">
          <img src="./images/service-request.png" alt="Call Girl Logo">
        </div>
        </div>
      </div>
    </section>
        <!-- =========== Service Part End ========== -->


    <!-- =========== Footer Part Start ========== -->
{% endblock  %}