
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock  %}
{% block title %}Home{% endblock  %}
{% block body %}
    <div class="container">
        <form id="form">
          <h3>GET IN TOUCH</h3>
          <a href="./contact.html">X</a>
            <div class="field">
              <input type="text" name="from_name" id="from_name" placeholder="Your Name" required>
            </div>
            <div class="field">
              <label for="from_email">
              <input type="text" name="from_email" id="from_email" placeholder="Your Email" required>
            </div>
            <div class="field">
              <label for="phone">
              <input type="text" name="phone" id="phone" placeholder="Your Number" required>
            </div>
            <div class="field">
              <label for="message">
              <textarea type="textarea" name="message" id="message" placeholder="Messages"></textarea>
            </div>
            
            <input type="submit" id="btn" value="Send">
          </form>
    </div>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  
<script type="text/javascript">
  emailjs.init('BwHESMrAQPH9ydy8B')
    
    </script>

<script src="./js/scriptemail.js"></script>
<script>
  const btn = document.getElementById('btn');

document.getElementById('form')
.addEventListener('submit', function(event) {
event.preventDefault();

btn.value = 'Sending...';

const serviceID = 'default_service';
const templateID = 'myform_temp919k';

emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
    btn.value = 'Send Email';
    alert('Sent!');
    }, (err) => {
    btn.value = 'Send Email';
    alert(JSON.stringify(err));
    });
});
</script>
{% endblock  %}
