
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock  %}
{% block title %}Home{% endblock  %}
{% block body %}
    <!-- ===========Banner Part Start ========== -->
<section id="banner" class="background">
  <div class="container">
    <div class="col-lg-12">
      <div class="banner_text">
        <h1>GARI<span> LAGBE?</span></h1>
        <h3>The most premium rent-a-car service in Bangladesh.</h3>
        <h4>Save Money With Our Rental</h4>
        <p>We are always there to reach you safely, comfortably and on time from Dhaka to any part of the country.</p>
        <div class="banner_button">
          <a href="./login.html">BOOK NOW</a>
        </div>
      </div>
  </div>
  </div>
  <div class="sidenav">
    <div class="title1">
      <h3>GARI <span>LAGBE?</span> RENTAL SERVICE</h3>
      <p>A car will reach you anywhere in any city within <span>30 minutes</span> with just one call from you.</p>
    </div>
    
    <div class="navbtn">
      <div class="button">Inside Dhaka City</div>
    </div>
    <div class="navbtn">
      <div class="button">Outside Dhaka City</div>
    </div>
    
  </div>
</section>
    <!-- =========== Banner Part End ========== -->
    <!-- =========== Tools Part Start ========== -->
<section id="tools">
  <div class="container">
    <div class="col-lg-12">
      <div class="common_heading">
        <h3><span> BEST PRICE WITH</span> PREMIUM SERVICE </h3>
        <p>Gari Lagbe? Rent-A-Car in Bangladesh is becoming popular day by day for quality car rental services.</p>
      </div>
    </div>
    <div class="tools_cards">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="tools_item">
            <div class="tools_text">
              <div><h3>Affordable, Accessible</h3></div>
            <div><p> We're Cheap and affordable service as compared to others in the country.</p></div>
            </div>
          </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="tools_item">
            <div class="tools_text">
              <div><h3>Secure & Safe Payment</h3></div>
            <div><p> You can make your payment now through secure gateway without any doubt.</p></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="tools_item">
            <div class="tools_text">
              <div><h3>Easy Scheduling, Booking</h3></div>
            <div><p> Choose you CAR, Click And just wait for 30~45 minutes to arrive.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- =========== Tools Part End ========== -->
    <!-- =========== Features Part Start ========== -->
<section id="features">
  <div class="container">
    <div class="col-lg-12">
      <div class="common_heading">
        <h3> Most Popular<span> Cars</span></h3>
        <p>Toyota Primo, Toyota Hiace Super GL, Corolla Cross & Toyota Noah Voxy </p>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="feature_slider">
        <div class="feature_slider_item">
            <div class="feature_slider_img">
                <img src="./images/feature1.png" class="img-fluid w-100" alt="Slider Image">
            </div>
            <div class="feature_text">
                <h3>Toyota Primo</h3>
                <p>In publishing and graphic design, has Lorem ipsum is a great and placeholder text to commonly used to demonstrate stich the is visual form of a document of Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="feature_button">
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="feature_slider_item">
          <div class="feature_slider_img">
              <img src="./images/feature2.png" class="img-fluid w-100" alt="Slider Image">
          </div>
          <div class="feature_text">
              <h3>Toyota Hiace Super</h3>
              <p>In publishing and graphic design, has Lorem ipsum is a great and placeholder text to commonly used to demonstrate stich the is visual form of a document of Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="feature_button">
              <a href="#">Read More</a>
          </div>
        </div>
        <div class="feature_slider_item">
          <div class="feature_slider_img">
              <img src="./images/feature3.png" class="img-fluid w-100" alt="Slider Image">
          </div>
          <div class="feature_text">
              <h3>Corolla Cross</h3>
              <p>In publishing and graphic design, has Lorem ipsum is a great and placeholder text to commonly used to demonstrate stich the is visual form of a document of Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="feature_button">
              <a href="#">Read More</a>
          </div>
        </div>
        <div class="feature_slider_item">
          <div class="feature_slider_img">
              <img src="./images/feature4.png" class="img-fluid w-100" alt="Slider Image">
          </div>
          <div class="feature_text">
              <h3>Toyota Noah Voxy</h3>
              <p>In publishing and graphic design, has Lorem ipsum is a great and placeholder text to commonly used to demonstrate stich the is visual form of a document of Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="feature_button">
              <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- =========== Features Part End ========== -->
    
    <!-- =========== Works Part Start ========== -->
<section id="works">
  <div class="container">
    <div class="common_heading">
      <h3>Rent in few <span> clicks</span></h3>
      <p>Easiest way to RENT a CAR
        <span> Browse and Choose your favorite CAR.</span>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 works_text">
        <div class="works_text_item">
          <div class="works_number">
            <h4>01</h4>
          </div>
          <p>
            Select your location, Tell us whether your destination is in-city or out-of-town.
            </p>
        </div>
        <div class="works_text_item">
          <div class="works_number">
            <h4>02</h4>
          </div>
          <p>Choose the car of your choice
            Tell us the type of vehicle you are looking for (SUV, Sedan or Microbus).           
          </p>
        </div>
        <div class="works_text_item">
          <div class="works_number">
            <h4>03</h4>
          </div>
          <p>Schedule of Rent at Booking
            Tell us when and where you would like the car to be.
            </p>
        </div>
        </div>
      <div class="col-lg-6 col-sm-12">
        <div  class="works_video">
          <video src="./videos/edit_video.mp4" autoplay muted loop></video>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- =========== Works Part End ========== -->


<!-- =========== Why Us Part End ========== -->
<!-- <section id="whyus">
<div class="container">
  <div class="row">

  </div>

</div>






</section> -->
<!-- =========== Why Us Part End ========== -->

    <!-- =========== Service Part Start ========== -->
    <section id="downloads">
      <div class="container">
        <div class="row">
          <div class="download_text col-lg-8">
            <h3>Can't find your desired service?</h3>
            <h4 > Let us know, call</h4>
            <a href="tel:+880-696969"><i class="fa fa-phone"></i>696969</a></div>

        <div class="service col-lg-4">
          <img src="./images/service-request.png" alt="Call Girl Logo">
        </div>
        </div>
      </div>
    </section>
        <!-- =========== Service Part End ========== -->

{% endblock  %}