{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock  %}
{% block title %}Home{% endblock  %}
{% block body %}
<!-- ===========Banner Part Start ========== -->
<section id="banner1" class="background1">
  <div class="container">
    <div class="col-lg-12">
      <div class="banner1_text">
        <h1>Need to Rent a Luxury Car? </h1>
        <h3>The most premium rent-a-car service in Bangladesh.</h3>
        <h4>Save Money With Our Rental</h4>
        <p>We are always there to reach you safely, comfortably and on time from Dhaka to any part of the country.</p>
      </div>
  </div>
  </div>
</section>
<!-- =========== Banner Part End ========== -->

<!-- ============ Car List ================ -->
<section id="carlist">
  <div class="container">
    <div class="col-lg-12"></div>
    <div class="title">AVAILABLE CARS</div>
    <div class="detail">
        <div class="image">
            <img src="">
        </div>
        <div class="content">
            <h1 class="name"></h1>
            <div class="description"></div>
            <div class="price"></div>
            <div class="buttons">
              <button>Check Out</button>
              <button>Add To Cart 
                  <span>
                      <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                      </svg>
                  </span>
              </button>
          </div>
        
        </div>
    </div>
</div>
</section>

<section id="smproducts">
  <div class="container">
    <div class="lists">
      <div class="col-lg-12">
        <h4> AVAILABLE CARS</h4>
        <br>
        <div class="listProduct"></div>
        </div> 
    </div>
  </div>
</section>


<!-- ============ Car List ================ -->
    





<!-- =========== Service Part Start ========== -->
<section id="downloads">
      <div class="container">
        <div class="row">
          <div class="download_text col-lg-8">
            <h3>Can't find your desired service?</h3>
            <h4> Let us know, call</h4>
            <a href="tel:+880-696969"><i class="fa fa-phone"></i>696969</a></div>

        <div class="service col-lg-4">
          <img src="./images/service-request.png" alt="Call Girl Logo">
        </div>
        </div>
      </div>
    </section>
    <!-- =========== Service Part End ========== -->



    <!-- =========== Footer Part Start ========== -->
{% endblock  %}